<form #orderForm="ngForm" class="form-container">
  <h2 mat-dialog-title  style="background-color: #123a74; color: white">Add Order</h2>
  <mat-divider></mat-divider>
  <mat-dialog-content>
      <div class="form-container">
          <!-- First form -->
          <mat-form-field style="width: 100%">
            <mat-label>Order Name</mat-label>
            <input matInput type="text" [(ngModel)]="data.name" #orderName="ngModel" name="orderName" [ngModelOptions]="{standalone: true}" required>
            <mat-error *ngIf="orderName.invalid && orderName.touched">This field is required.</mat-error>
          </mat-form-field>
        
          <div class="flex-row">
            <!-- Second and third form -->
            <mat-form-field style="width: 50%">
              <mat-label>Product</mat-label>
              <mat-select class="input-with-icon" [(ngModel)]="data.type" #orderType="ngModel" name="orderType" [ngModelOptions]="{standalone: true}" required>
                <mat-option *ngFor="let option of data.types" [value]="option">{{ option.typeName }}</mat-option>
              </mat-select>
              <mat-error *ngIf="orderType.invalid && orderType.touched">This field is required.</mat-error>
            </mat-form-field>
        
            <mat-form-field style="width: 50%">
              <mat-label>Owner</mat-label>
              <mat-select class="input-with-icon" [(ngModel)]="data.user" #orderOwner="ngModel" name="orderType" [ngModelOptions]="{standalone: true}" required>
                <mat-option *ngFor="let option of data.users" [value]="option">{{ option.userName }}</mat-option>
              </mat-select>
              <mat-error *ngIf="orderOwner.invalid && orderOwner.touched">This field is required.</mat-error>
            </mat-form-field>
          </div>
        
          <div class="flex-row">
            <!-- Fourth and fifth form -->
            <mat-form-field style="width: 50%">
              <mat-label>Batch</mat-label>
              <input matInput type="text" [(ngModel)]="data.batch" #orderBatch="ngModel" name="orderBatch" [ngModelOptions]="{standalone: true}" required>
              <mat-error *ngIf="orderBatch.invalid && orderBatch.touched">This field is required.</mat-error>
            </mat-form-field>
        
            <mat-form-field style="width: 50%">
              <mat-label>Planned Quantity</mat-label>
              <input matInput type="text" [(ngModel)]="data.plannedQuantity" #orderQuantity="ngModel" name="plannedQuantity" [ngModelOptions]="{standalone: true}" required>
            <mat-error *ngIf="orderQuantity.invalid && orderQuantity.touched">This field is required.</mat-error>
            </mat-form-field>
          </div>
        
          <div class="flex-row">
            <!-- Sixth and seventh form -->
            <mat-form-field style="width: 50%">
              <mat-label>Planned Date</mat-label>
              <input matInput [min]="minDate" [matDatepicker]="picker" [(ngModel)]="data.plannedDate" #dateInput="ngModel" name="plannedDate" [ngModelOptions]="{standalone: true}" required>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <mat-error *ngIf="dateInput.invalid && dateInput.touched">This field is required.</mat-error>
            </mat-form-field>

            <mat-form-field style="width: 50%">
              <mat-label>Line</mat-label>
              <mat-select class="input-with-icon" [(ngModel)]="data.line" #orderLine="ngModel" name="line" [ngModelOptions]="{standalone: true}" required>
                <mat-option *ngFor="let option of data.lines" [value]="option">{{ option.lineName }}</mat-option>
              </mat-select>
              <mat-error *ngIf="orderLine.invalid && orderLine.touched">This field is required.</mat-error>
            </mat-form-field>
          </div>
        
          <!-- Last form -->
          <mat-form-field style="width: 100%">
            <mat-label>WBS</mat-label>
            <input matInput type="text" [(ngModel)]="data.wbs" #orderWbs="ngModel" name="wbs" required>
            <mat-error *ngIf="orderWbs.invalid && orderWbs.touched">This field is required.</mat-error>
          </mat-form-field>
        </div>

        <!-- Raise an error if !data.isLineAvailable(data.line.lineName, data.plannedDate)-->
        <mat-error style="text-align: center;" *ngIf="!data.isLineAvailable(data.line.lineName, data.plannedDate, '-', '-', -1)">The selected line is not available on this date.</mat-error>
        <mat-error style="text-align: center;" *ngIf="data.isOrderPresent(data.name)">This order already exists.</mat-error>
        
  </mat-dialog-content>
  <mat-dialog-actions style="justify-content: center;">
    <button mat-flat-button (click)="onCancelClick()">Cancel</button>
    <button mat-flat-button color="#123a74" 
            [style.background-color]="!data.isLineAvailable(data.line.lineName, data.plannedDate, '-', '-', -1) || orderForm.invalid || data.isOrderPresent(data.name) ? 'whitesmoke' : '#123a74'"
            style = "color: white"
            [disabled]="!data.isLineAvailable(data.line?.lineName, data.plannedDate, '-', '-', -1) || orderForm.invalid || data.isOrderPresent(data.name)" 
            (click)="onOkClick()" cdkFocusInitial>Confirm</button> 
  </mat-dialog-actions>
</form>
