<h2 mat-dialog-title  style="background-color: #123a74; color: white">Add Order</h2>
<mat-divider></mat-divider>
<mat-dialog-content>
    <div class="form-container">
        <!-- First form -->
        <mat-form-field style="width: 100%">
          <mat-label>Order Name</mat-label>
          <input matInput type="text" [(ngModel)]="data.name">
        </mat-form-field>
      
        <div class="flex-row">
          <!-- Second and third form -->
          <mat-form-field style="width: 50%">
            <mat-label>Order Type</mat-label>
            <mat-select class="input-with-icon" [(ngModel)]="data.type" #lineInput>
              <mat-option *ngFor="let option of data.types" [value]="option">{{ option.typeName }}</mat-option>
            </mat-select>
          </mat-form-field>
      
          <mat-form-field style="width: 50%">
            <mat-label>Owner</mat-label>
            <mat-select class="input-with-icon" [(ngModel)]="data.user" #lineInput>
              <mat-option *ngFor="let option of data.users" [value]="option">{{ option.userName }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      
        <div class="flex-row">
          <!-- Fourth and fifth form -->
          <mat-form-field style="width: 50%">
            <mat-label>Batch</mat-label>
            <input matInput type="text" [(ngModel)]="data.batch">
          </mat-form-field>
      
          <mat-form-field style="width: 50%">
            <mat-label>Planned Quantity</mat-label>
            <input matInput type="text" [(ngModel)]="data.plannedQuantity">
          </mat-form-field>
        </div>
      
        <div class="flex-row">
          <!-- Sixth and seventh form -->
          <mat-form-field style="width: 50%">
            <mat-label>Planned Date</mat-label>
            <input matInput [min]="minDate" [matDatepicker]="picker" #dateInput="ngModel" [(ngModel)]="data.plannedDate" name="plannedDate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

          <mat-form-field style="width: 50%">
            <mat-label>Line</mat-label>
            <mat-select class="input-with-icon" [(ngModel)]="data.line" #lineInput>
              <mat-option *ngFor="let option of data.lines" [value]="option">{{ option.lineName }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      
        <!-- Last form -->
        <mat-form-field style="width: 100%">
          <mat-label>WBS</mat-label>
          <input matInput type="text" [(ngModel)]="data.wbs">
        </mat-form-field>
      </div>

      <!-- Raise an error if !data.isLineAvailable(data.line.lineName, data.plannedDate)-->
      <mat-error style="text-align: center;" *ngIf="!data.isLineAvailable(data.line.lineName, data.plannedDate)">Line is not available on this date</mat-error>
      
</mat-dialog-content>
<mat-dialog-actions style="justify-content: center;">
  <button mat-flat-button (click)="onCancelClick()">Cancel</button>
  <button mat-flat-button color="#123a74" 
          [style.background-color]="!data.isLineAvailable(data.line.lineName, data.plannedDate) ? 'whitesmoke' : '#123a74'"
          style = "color: white"
          [disabled]="!data.isLineAvailable(data.line.lineName, data.plannedDate)" 
          (click)="onOkClick()" cdkFocusInitial>Ok</button>
</mat-dialog-actions>
