<span>
  <div class="header-container">
    <h1 class="example-app-name" style="margin-left: 50px; margin-top: 10px;">ORDERS LIST</h1>
    <span class="button-container" style="margin-top: 10px; margin-right: 20px">
      <button mat-icon-button class="add-button" (click)="addOrder()">
        <mat-icon>add</mat-icon>
      </button>
    </span>
  </div>
</span>
<span>
  <div style="display: flex; justify-content: center; margin-left: 40px; margin-right: 40px;">
    <mat-expansion-panel style="margin-bottom: 20px; margin-top: 10px; border-radius: 20px; overflow: hidden;">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon><span class="material-symbols-outlined">filter_list</span></mat-icon>
          <span style="margin-left: 20px;">FILTER</span>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <!-- Filter by Name -->
      <mat-form-field style="width: 130px; border-radius: 10px; overflow: hidden;">
        <mat-label>Order Name</mat-label>
        <input matInput type="text" [(ngModel)]="filterSelection.selName" (ngModelChange)="applyFilter()">
        @if (filterSelection.selName) {
          <button matSuffix mat-icon-button aria-label="Clear" (click)="filterSelection.selName=null; applyFilter();">
            <mat-icon>close</mat-icon>
          </button>
        }
      </mat-form-field>
      <!-- Filter by Type -->
      <mat-form-field style="margin-left: 10px; width: 130px; border-radius: 10px; overflow: hidden;">
        <mat-label>Product</mat-label>
        <mat-select class="input-with-icon" [(ngModel)]="filterSelection.selType" (ngModelChange)="applyFilter()" #lineInput>
          <mat-option *ngFor="let option of typeData" [value]="option.typeName">{{ option.typeName }}</mat-option>
        </mat-select>
        @if (filterSelection.selType) {
          <button matSuffix mat-icon-button aria-label="Clear" (click)="filterSelection.selType=null; applyFilter();">
            <mat-icon>close</mat-icon>
          </button>
        }
      </mat-form-field>
      <!-- Filter by Line -->
      <mat-form-field style="margin-left: 10px; width: 200px; border-radius: 10px; overflow: hidden;">
        <mat-label>Line</mat-label>
        <mat-select class="input-with-icon" [(ngModel)]="filterSelection.selLine" (ngModelChange)="applyFilter()" #lineInput>
          <mat-option *ngFor="let option of lineData" [value]="option.lineName">{{ option.lineName }}</mat-option>
        </mat-select>
        @if (filterSelection.selLine) {
          <button matSuffix mat-icon-button aria-label="Clear" (click)="filterSelection.selLine=null; applyFilter();">
            <mat-icon>close</mat-icon>
          </button>
        }
      </mat-form-field>
      <!-- Filter by Batch -->
      <mat-form-field style="margin-left: 10px; width: 130px; border-radius: 10px; overflow: hidden;">
        <mat-label>Batch</mat-label>
        <input matInput type="text" [(ngModel)]="filterSelection.selBatch" (ngModelChange)="applyFilter()">
        @if (filterSelection.selBatch) {
          <button matSuffix mat-icon-button aria-label="Clear" (click)="filterSelection.selBatch=null; applyFilter();">
            <mat-icon>close</mat-icon>
          </button>
        }
      </mat-form-field>
      <!-- Filter by Planned Date -->
      <mat-form-field  style="margin-left: 10px; border-radius: 10px; overflow: hidden;"[style.width.px]="filterSelection.selPlannedDate.min && filterSelection.selPlannedDate.max ? 330 : 200">
        <mat-label>Planned Date</mat-label>
        <mat-date-range-input
          [formGroup]="campaignOne"
          [rangePicker]="campaignOnePicker"
          [comparisonStart]="filterSelection.selPlannedDate.min"
          [comparisonEnd]="filterSelection.selPlannedDate.max">
          <input matStartDate placeholder="Start date" [(ngModel)]="filterSelection.selPlannedDate.min" formControlName="start" (dateChange)="applyFilter()">
          <input matEndDate placeholder="End date" [(ngModel)]="filterSelection.selPlannedDate.max" formControlName="end" (dateChange)="applyFilter()">
        </mat-date-range-input>
        <mat-datepicker-toggle matIconSuffix [for]="campaignOnePicker"></mat-datepicker-toggle>
        <mat-date-range-picker #campaignOnePicker></mat-date-range-picker>
        @if (filterSelection.selPlannedDate.min && filterSelection.selPlannedDate.max) {
          <button matSuffix mat-icon-button aria-label="Clear" (click)="filterSelection.selPlannedDate.min=null; filterSelection.selPlannedDate.max=null; applyFilter();">
            <mat-icon>close</mat-icon>
          </button>
        }
      </mat-form-field>
      <!-- Filter by Owner -->
      <mat-form-field style="margin-left: 10px;width: 130px; border-radius: 10px; overflow: hidden;">
        <mat-label>Owner</mat-label>
        <mat-select class="input-with-icon" [(ngModel)]="filterSelection.selUserId" (ngModelChange)="applyFilter()" #lineInput>
          <mat-option *ngFor="let option of userData" [value]="option.userId">{{ option.userName }}</mat-option>
        </mat-select>
        @if (filterSelection.selUserId) {
          <button matSuffix mat-icon-button aria-label="Clear" (click)="filterSelection.selUserId=null; applyFilter();">
            <mat-icon>close</mat-icon>
          </button>
        }
      </mat-form-field>
      <!-- Filter by WBS -->
      <mat-form-field style="margin-left: 10px; width: 130px; border-radius: 10px; overflow: hidden;">
        <mat-label>WBS</mat-label>
        <input matInput type="text" [(ngModel)]="filterSelection.selWbs" (ngModelChange)="applyFilter()">
        @if (filterSelection.selWbs) {
          <button matSuffix mat-icon-button aria-label="Clear" (click)="filterSelection.selWbs=null; applyFilter();">
            <mat-icon>close</mat-icon>
          </button>
        }
      </mat-form-field>
      <!-- Filter by Starting Date -->
      <mat-form-field style="margin-left: 10px; border-radius: 10px; overflow: hidden;"[style.width.px]="filterSelection.selStartingDate.min && filterSelection.selStartingDate.max ? 330 : 200">
        <mat-label>Start Date</mat-label>
        <mat-date-range-input
          [formGroup]="campaignTwo"
          [rangePicker]="campaignTwoPicker"
          [comparisonStart]="filterSelection.selStartingDate.min"
          [comparisonEnd]="filterSelection.selStartingDate.max">
          <input matStartDate placeholder="Start date" [(ngModel)]="filterSelection.selStartingDate.min" formControlName="start" (dateChange)="applyFilter()">
          <input matEndDate placeholder="End date" [(ngModel)]="filterSelection.selStartingDate.max" formControlName="end" (dateChange)="applyFilter()">
        </mat-date-range-input>
        <mat-datepicker-toggle matIconSuffix [for]="campaignTwoPicker"></mat-datepicker-toggle>
        <mat-date-range-picker #campaignTwoPicker></mat-date-range-picker>
        @if (filterSelection.selStartingDate.min && filterSelection.selStartingDate.max) {
          <button matSuffix mat-icon-button aria-label="Clear" (click)="filterSelection.selStartingDate.min=null; filterSelection.selStartingDate.max=null; applyFilter();">
            <mat-icon>close</mat-icon>
          </button>
        }
      </mat-form-field>
      <!-- Filter by Status -->
      <mat-form-field style="margin-left: 10px; width: 130px; border-radius: 10px; overflow: hidden;">
        <mat-label>Status</mat-label>
        <mat-select class="input-with-icon" [(ngModel)]="filterSelection.selStatus" (ngModelChange)="applyFilter()" #lineInput>
          <mat-option *ngFor="let option of statusData" [value]="option.statusName">{{ option.statusName }}</mat-option>
        </mat-select>
        @if (filterSelection.selStatus) {
          <button matSuffix mat-icon-button aria-label="Clear" (click)="filterSelection.selStatus=null; applyFilter();">
            <mat-icon>close</mat-icon>
          </button>
        }
      </mat-form-field>
      <!-- Clear filters button -->
      <div>
        <span>
          <button mat-button
                  [style.color]="dataSource.filter == '' ? 'lightGray' : '#123a74'"
                  style="text-decoration: underline;"
                  (click)="clearFilters()"
                  [disabled]="dataSource.filter == ''">Clear Filters
          </button>
        </span>
      </div>
    </mat-expansion-panel>
</div>
  
</span>
<span>
  <div style="display: flex; justify-content: center; margin-left: 40px; margin-right: 40px; margin-bottom: 40px;">

    <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)"
        class="mat-elevation-z8" style="border-radius: 20px; overflow: hidden;">

    <!-- Actions Column -->
    <ng-container matColumnDef="actions" stickyEnd>
      <th mat-header-cell *matHeaderCellDef style="text-align: center;">
        Actions
      </th>
      <td mat-cell *matCellDef="let element" style="text-align: center;">
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu" class="mat-menu-panel">
          <button mat-menu-item (click)="managePlanning(element)" [disabled]="isProcessClosed(element) || isProcessOpen(element)">
            <mat-icon>settings</mat-icon>
            <span>Manage Planning</span>
          </button>
          <button mat-menu-item (click)="openInfo(element)">
            <mat-icon>info</mat-icon>
            <span>Info</span>
          </button>
        </mat-menu>      
      </td>
    </ng-container>

    <!-- Order Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="text-align: center;" sortActionDescription="Sort by name">
        Order
      </th>
      <td mat-cell *matCellDef="let element" style="text-align: center;">
        <span [style.color]="element.name ? 'initial' : 'firebrick'">
          {{ element.name || 'UNDEFINED' }}
        </span>
      </td>
    </ng-container>

    <!-- Product Column -->
    <ng-container matColumnDef="typeName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by typeName">
        Product
      </th>
      <td mat-cell *matCellDef="let element" style="text-align: center;">
        <span [style.color]="element.typeName ? 'initial' : 'firebrick'">
          {{ element.typeName || 'UNDEFINED' }}
        </span>
      </td>
    </ng-container>

    <!-- line.lineName Column -->
    <ng-container matColumnDef="lineName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by lineName">
        Line
      </th>
      <td mat-cell *matCellDef="let element" style="text-align: center;">
        <span [style.color]="element.lineName ? 'initial' : 'firebrick'">
          {{ element.lineName || 'UNDEFINED' }}
        </span>
      </td>
    </ng-container>

    <!-- Batch Column -->
    <ng-container matColumnDef="batch">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by batch">
        Batch
      </th>
      <td mat-cell *matCellDef="let element" style="text-align: center;">
        <span [style.color]="element.batch ? 'initial' : 'firebrick'">
          {{ element.batch || 'UNDEFINED' }}
        </span>
      </td>
    </ng-container>

    <!-- Quantity Column -->
    <ng-container matColumnDef="plannedQuantity">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by plannedQuantity">
        Quantity
      </th>
      <td mat-cell *matCellDef="let element" style="text-align: center;">
        <span [style.color]="element.plannedQuantity ? 'initial' : 'firebrick'">
          {{ element.plannedQuantity || 'UNDEFINED' }}
        </span>
      </td>
    </ng-container>
    
      <!-- Product Quantity Column -->
  <ng-container matColumnDef="quantity">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by quantity">
      Producted Quantity
    </th>
    <td mat-cell *matCellDef="let element" style="text-align: center;"> 
      <span>
      {{ element.quantity || 0 }}
    </span> 
  </td>
  </ng-container>

  <!-- Planned Date Column -->
  <ng-container matColumnDef="plannedDate">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by plannedDate">
      Planned Date
    </th>
    <td mat-cell *matCellDef="let element" style="text-align: center;">
      <span [style.color]="element.plannedDate ? 'initial' : 'firebrick'">
        {{ element.plannedDate || 'UNDEFINED' }}
      </span>
    </td>
  </ng-container>

  <!-- Owner Column -->
  <ng-container matColumnDef="userName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by userName">
      Owner
    </th>
    <td mat-cell *matCellDef="let element" style="text-align: center;">
      <span [style.color]="element.userName ? 'initial' : 'firebrick'">
        {{ element.userName || 'UNDEFINED' }}
      </span>
    </td>
  </ng-container>

  <!-- WBS Column -->
  <ng-container matColumnDef="wbs">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by wbs">
      WBS
    </th>
    <td mat-cell *matCellDef="let element" style="text-align: center;">
      <span [style.color]="element.wbs ? 'initial' : 'firebrick'">
        {{ element.wbs || 'UNDEFINED' }}
      </span>  
    </td>
  </ng-container>

  <!-- Start Date Column -->
  <ng-container matColumnDef="startingDate">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by startingDate">
      Start Date
    </th>
    <td mat-cell *matCellDef="let element" style="text-align: center;">
      <span [style.color]="element.startingDate ? 'initial' : 'firebrick'" *ngIf="element.statusId !== 2 && element.statusId !== 3">
        {{ element.startingDate || 'UNDEFINED' }}
      </span>
    </td>
  </ng-container>

  <!-- Status Column -->
  <ng-container matColumnDef="statusName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by statusName">
      Status
    </th>
    <td mat-cell *matCellDef="let element" style="text-align: center;">
      <span [style.color]="element.statusName ? 'initial' : 'firebrick'">
        {{ element.statusName || 'UNDEFINED' }}
      </span>
    </td>
  </ng-container>

  <!-- Start Process Column -->
  <ng-container matColumnDef="start_process" stickyEnd>
    <th mat-header-cell *matHeaderCellDef>
    </th>
    <td mat-cell *matCellDef="let element" style="text-align: center;">
      <button mat-icon-button (click)="startProcess(element)" [disabled]="isProcessClosed(element) || isProcessOpen(element)">
        <mat-icon>play_circle</mat-icon>
      </button>
    </td>
  </ng-container>

  <!-- Pause Process Column -->
  <ng-container matColumnDef="pause_process" stickyEnd>
    <th mat-header-cell *matHeaderCellDef>
    </th>
    <td mat-cell *matCellDef="let element" style="text-align: center;">
      <button mat-icon-button (click)="pauseProcess(element)" [disabled]="!isProcessOpen(element)">
        <mat-icon>pause_circle</mat-icon>
      </button>
    </td>
  </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let element; columns: displayedColumns;" [style.background-color]="getRowColor(element)" [style.color]="element.statusId === 2 ? 'grey' : 'initial'"></tr>
  </table>
  </div>
</span>

