body, html {
  overflow: hidden;
}

table {
  width: 90%;
  overflow-y: auto;
}

th.mat-sort-header-sorted {
  text-align: center;
}
mat-expansion-panel {
  width: 100%;
}
.mat-panel-title {
  font-size: 16px;
  font-weight: bold;
  color: #123a74;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
.mat-menu-panel {
  max-height: 20px; /* Adjust the height as needed */
  width: 10px; /* Adjust the width as needed */
}

.mat-menu-content {
  max-height: 20px; /* Adjust the height as needed */
  width: 10px; /* Adjust the width as needed */
}

h1.example-app-name {
  margin-left: 30px;
  font-weight: 450;
  font-family: 'Roboto', sans-serif; /* Set font to Roboto */
  font-size: 20px; /* Increase font size to your desired value */

}
.mat-header-cell{
  font-size: 16px;
  font-weight: bold;
  color: #123a74;
  text-align: center;
}

mat-select, input{
  font-size: 12px;
}

mat-label {
  font-size: 12px;
}

mat-form-field {
  font-size: 12px;
  width: 10%;
}
table {
  width: 90%;
  border-collapse: collapse;
  border-radius: 10px;
}
.table-container {
  max-height: 400px; /* Adjust the height as needed */
  overflow-y: auto;
}

.new-order-button {
  margin-left: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: bold;
  color: white;
  background-color: #123a74;
  border-radius: 5px;
  padding: 5px;
  width: 100px;
  text-align: center;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.example-app-name {
  margin: 0; /* Remove default margin */
}

.button-container {
  margin-left: auto; /* Push the button to the right */
}

.add-button{
  margin-right: 20px;
  color: white; /* Set color for the add icon */
  background-color: #123a74;
  justify-content: space-around;
}

.disabled-clear-button {
  text-decoration: underline;
  color: #ccc; /* Light grey color when disabled */
}

.enabled-clear-button {
  text-decoration: underline;
  color: #123a74; /* Default color when enabled */
}

