body, html {
  overflow: hidden;
}

.example-container {
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-family: 'Roboto', sans-serif; /* Set font to Roboto */
  background-color: #123a74;
}

.toolbar .is-example-mobile{
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
  background-color: #123a74;
}

h1.example-app-name {
  margin-left: 8px;
  font-family: 'Roboto', sans-serif; /* Set font to Roboto */
  color: #123a74; /* Set font color */
  font-size: 24px; /* Increase font size to your desired value */
}

.example-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
  background-color: #f1f1f1; /* Change to your desired color */
  color: #123a74;
}


.sidenav-list mat-list-item {
  height: 56px; /* Adjust as needed */
}

.toolbar button {
  height: 100%; /* Ensures the button takes the full height of the toolbar */
}

.active {
  background-color: #123a74; /* Change to your desired color */
}

/* Optional: Change text color of the active link */
.active mat-icon, .active span {
  color: #ffffff; /* Change to your desired color */
}

.button-container {
  margin-left: auto; /* Push the button to the right */
  margin-right: 60px;
}

.logout-button{
  color: #123a74;
}

.mat-menu-panel {
  max-height: 20px; /* Adjust the height as needed */
  width: 10px; /* Adjust the width as needed */
  border-radius: 30px;
  background-color: #123a74; /* Change to your desired color */
  text-align: center;
}

.mat-menu-content {
  max-height: 20px; /* Adjust the height as needed */
  width: 10px; /* Adjust the width as needed */
  background-color: #123a74; /* Change to your desired color */
  align-items: center;
  --mat-menu-container-shape: 20px;
}

.user-card {
  align-items: center;
  background-color: white; /* Change to your desired color */
  color: black; /* Change to your desired color */
  width: 200px;
  max-height: 400px;
}

[data-initials]:before {
  font-family: 'Roboto', sans-serif;
  background: #123a74;
  color: white;
  opacity: 1; 
  content: attr(data-initials); 
  display: inline-block; 
  border-radius: 50%; 
  vertical-align: middle;  
  width: 50px; 
  height: 50px; 
  line-height: 50px; 
  text-align: center; 
  }

  
.sidenav-list[_ngcontent-ng-c3291747242] mat-list-item[_ngcontent-ng-c3291747242] {
  height: 64px;
  width: 64px;
  text-align: center;
}

.mdc-list{
  padding: 0;
}

.mat-toolbar-row, .mat-toolbar-single-row {
  background-color: white;
}
