body, html {
  overflow: hidden;
}

.example-container {
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-family: 'Roboto', sans-serif; /* Set font to Roboto */
  background-color: #123a74;
}

.toolbar .is-example-mobile{
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
  background-color: #123a74;
}

h1.example-app-name {
  margin-left: 8px;
  font-family: 'Roboto', sans-serif; /* Set font to Roboto */
  color: #123a74; /* Set font color */
  font-size: 24px; /* Increase font size to your desired value */
}

.example-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
  background-color: #f1f1f1; /* Change to your desired color */
  color: #123a74;
}


.sidenav-list mat-list-item {
  height: 56px; /* Adjust as needed */
}

.toolbar button {
  height: 100%; /* Ensures the button takes the full height of the toolbar */
}

.active {
  background-color: #123a74; /* Change to your desired color */
}

/* Optional: Change text color of the active link */
.active mat-icon, .active span {
  color: #ffffff; /* Change to your desired color */
}
