/* Style for the entire popup container */
.popup-container {
    background-color: firebrick;
    text-align: center;
}

/* Style for the header section (title and image) */
.header-section {
    background-color: lightcoral; /* Same as the container background */
    padding-bottom: 20px; /* Add some spacing at the bottom */
}

.title {
    font-size: 24px;
    color: white;
    background-color: firebrick;
    line-height: 1.2; /* Adjust line height for better spacing */
}


.warning-icon {
    font-size: 60px;
    color: white;
    width: 80px;
    height: 80px;
    margin-top: 20px;
}

/* Style for the content section (message text and buttons) */
.content-section {
    background-color: white; /* White background for the content */
}

.message-text {
    font-size: 16px;
    color: black; /* Darker text color for better readability */
    padding: 40px; /* Add padding for better spacing */
    text-align: center;
}

.button-container {
    margin-top: 20px;
}

.mat-mdc-dialog-container .mdc-dialog__surface {
    border-radius: 20px !important;
}
