<div class="container">
    <div class="rectangle"></div>
    <h1>Login</h1>
    <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)" class="login-form">
        <mat-form-field appearance="fill">
            <mat-label>Username</mat-label>
            <input matInput type="text" name="username" required ngModel>
        </mat-form-field>
    </form>
    <button mat-flat-button class="login-button" type="submit" [disabled]="!loginForm.valid" (click)="onSubmit(loginForm)">
        LOGIN
    </button>
    <div *ngIf="!isRegistered" class="error">
        <p style="color:red">Account not registered, please Sign up</p>
    </div>
    <div style="color: white;">Not registered? <button mat-flat-button style="background-color:#123a74; color: white; text-decoration: underline;" (click)="toRegister();">Sign Up</button>
    </div>
</div>
  